body {
    font-family: 'Droid Sans',Tahoma !important;
}

#ZoneOn {
    /*background-image: url("Assets/on.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px;
}

#ZoneGoal {
    background-image: url("Assets/goal.png");
    background-repeat: no-repeat;
    background-position: center;
}

#ZoneOff {
    /*background-image: url("Assets/off.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

#ZoneAway {
    /*background-image: url("Assets/away.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 520px;
}

.TimerOn {
    float: right;
    background-color: forestgreen;
    color: white;
    width: 52px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding-top: 5px;
}

.Hidden {
    display: none;
}

.TimerOff {
    float: right;
    background-color: darkred;
    color: white;
    width: 52px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding-top: 5px;
}

.Header {
    width: 113px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
    float: left;
    color: white;
    background-color:steelblue;
    font-size:12pt;
    font-family: 'Droid Sans',Tahoma !important;
}

.draggable {
    float: left;
    width: 118px;
    height: 88px;
    background-color:#F0F0F0;
    border: 1px solid black;
    margin: 4px;
    padding: 8px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.droppable {
    width: 1163px;
    height: 120px;
    margin: 0px;
    padding: 5px;
    border: 1px solid;
    vertical-align: middle;
    background-color:white;
}

.drop-hover {
    padding: 2px;
    border-width: 4px;
}

.divShadow2 {
    width: 100%;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center;*/
}
